<footer>
  <p>&copy; <%= 2024 %> <%= 'Alexander' %>. <%= 'Test Guru' %>. <a href="https://github.com/<%= github_url('ponttor', 'test_guru') %>">GitHub</a></p>
  <p>Учебный проект в онлайн-школе <a href="https://thinknetica.com">Thinknetica</a></p>
</footer>
